/* line 1, ../sass/_animations.scss */
.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
}

/* line 9, ../sass/_animations.scss */
.flash {
  -webkit-animation-name: flash;
}

/* line 13, ../sass/_animations.scss */
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

/* line 18, ../sass/_animations.scss */
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

/* line 23, ../sass/_animations.scss */
.slideOut {
  left: -120px;
}

@-webkit-keyframes slideInLeft {
  /* line 27, ../sass/_animations.scss */
  0% {
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }

  /* line 32, ../sass/_animations.scss */
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 37, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  /* line 45, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  /* line 52, ../sass/_animations.scss */
  100% {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutLeft {
  /* line 60, ../sass/_animations.scss */
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 65, ../sass/_animations.scss */
  50% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }
}

@keyframes slideOutLeft {
  /* line 78, ../sass/_animations.scss */
  0% {
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  /* line 84, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@-webkit-keyframes flash {
  /* line 93, ../sass/_animations.scss */
  0% {
    opacity: 0.1;
    color: #000;
  }

  /* line 98, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  /* line 104, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(255, 204, 0, 0);
    background: transparent;
    opacity: 0.5;
    border: 5px solid #ffcc00;
    -webkit-transform: scale(0.5);
  }

  /* line 117, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 5px 1px #ffcc00;
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes pulsegreen {
  /* line 126, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(107, 184, 35, 0);
    background: #6bb823;
  }

  /* line 136, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #6bb823;
    background: #81d136;
  }
}

@-webkit-keyframes pulseblue {
  /* line 144, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(12, 125, 163, 0);
    background: #0d7da3;
  }

  /* line 154, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #0c7da3;
    background: #36aad1;
  }
}

@-webkit-keyframes pulsepurple {
  /* line 162, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(128, 62, 189, 0);
    background: #803ebd;
  }

  /* line 172, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #803ebd;
    background: #aa70e0;
  }
}

/* Colors */
/* line 3, ../sass/_base.scss */
.blue {
  background: #36aad1;
}

/* line 7, ../sass/_base.scss */
.fill-brown {
  background: #38342b;
}

/* line 11, ../sass/_base.scss */
.green {
  background: #81d136;
}

/* line 15, ../sass/_base.scss */
.grey {
  color: #b7b7b7;
}

/* line 19, ../sass/_base.scss */
.light {
  color: #838f96;
}

/* line 23, ../sass/_base.scss */
.purple {
  background: #aa70e0;
}

/* line 27, ../sass/_base.scss */
.text-light {
  color: #d4d6d9;
  text-shadow: 0 -1px 0 black;
}

/* line 32, ../sass/_base.scss */
.yellow {
  color: #ffcc00;
}

/* Layout */
/* line 38, ../sass/_base.scss */
.center {
  text-align: center;
}

/* line 42, ../sass/_base.scss */
.left {
  float: left;
}

/* line 45, ../sass/_base.scss */
.right {
  float: right;
}

/* line 49, ../sass/_base.scss */
.space {
  margin-right: 15px;
}

/* line 53, ../sass/_base.scss */
.spacing {
  padding: 10px;
}

/* Dimensions */
/* line 59, ../sass/_base.scss */
.sm {
  height: 24px;
  line-height: 24px;
}

/* line 64, ../sass/_base.scss */
.medium {
  height: 30px;
}

/* Style */
/* line 70, ../sass/_base.scss */
.round {
  border-radius: 3px;
}

/* line 75, ../sass/_base.scss */
.edit {
  font-size: 11px;
  margin-left: 5px;
}

/* line 80, ../sass/_base.scss */
.first {
  margin-top: 0;
}

/* line 84, ../sass/_base.scss */
h1 {
  color: #fff;
}

/* line 88, ../sass/_base.scss */
h3 {
  font-size: 14px;
}

/* line 92, ../sass/_base.scss */
.semi {
  opacity: 0.6 !important;
}

/* line 96, ../sass/_base.scss */
.opaque {
  opacity: 1 important;
}

/* Buttons */
/* line 102, ../sass/_base.scss */
button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  border: 0px;
  padding: 0px 12px;
  font-family: "Helvetica Neue","Arial";
  font-size: 13px;
  cursor: pointer;
}

/* line 112, ../sass/_base.scss */
.btnokay {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #addb39), color-stop(100%, #91ba2b));
  background-image: -webkit-linear-gradient(#addb39, #91ba2b);
  background-image: -moz-linear-gradient(#addb39, #91ba2b);
  background-image: -o-linear-gradient(#addb39, #91ba2b);
  background-image: linear-gradient(#addb39, #91ba2b);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 6px 12px 6px 12px;
  text-shadow: 0 1px 0 rgba(13, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
}
/* line 123, ../sass/_base.scss */
.btnokay:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b6df4f), color-stop(100%, #a1cf30));
  background-image: -webkit-linear-gradient(#b6df4f, #a1cf30);
  background-image: -moz-linear-gradient(#b6df4f, #a1cf30);
  background-image: -o-linear-gradient(#b6df4f, #a1cf30);
  background-image: linear-gradient(#b6df4f, #a1cf30);
}

/* line 128, ../sass/_base.scss */
.btndisabled {
  background: #ccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 12px 6px 12px;
  text-shadow: 0 1px 0 rgba(13, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
}

/* line 137, ../sass/_base.scss */
.btn-sm {
  height: 24px;
}

/* line 141, ../sass/_base.scss */
.btn-login {
  background: #ffcc00;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 13px;
}

/* line 149, ../sass/_base.scss */
.button-group {
  line-height: 46px;
  display: inline-block;
  overflow: hidden;
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.15);
}

/* line 160, ../sass/_base.scss */
.splitbutton-left {
  border-radius: 3px 0px 0px 3px;
  min-width: 250px;
  display: inline-block;
}

/* line 168, ../sass/_base.scss */
.splitbutton-right {
  border-radius: 0px 3px 3px 0px;
  display: inline-block;
  position: relative;
  top: -1px;
  left: -3px;
}

/* line 176, ../sass/_base.scss */
.split-button {
  vertical-align: middle;
  display: inline-block;
}

/* Forms */
/* line 184, ../sass/_base.scss */
.form-inline {
  display: inline;
}

/* line 188, ../sass/_base.scss */
.form-block {
  display: block;
  margin-top: 10px;
}

/* line 193, ../sass/_base.scss */
.form-control {
  margin-right: 6px;
}

/* line 197, ../sass/_base.scss */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}

/* line 205, ../sass/_base.scss */
input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
}
/* line 212, ../sass/_base.scss */
input[type="text"]:focus {
  outline: 0;
}

/* line 217, ../sass/_base.scss */
.key {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 4px;
  background: #363d45;
  border: 1px solid #666;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #ffcc00;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
}

/* Icons */
/* line 241, ../sass/_base.scss */
.icon {
  font-family: "pictos";
  font-size: 16px;
}

/* line 245, ../sass/_base.scss */
.icon:hover {
  opacity: 1;
}

/* line 249, ../sass/_base.scss */
.icon.before {
  margin-right: 7px;
}

/* Inset */
/* line 255, ../sass/_base.scss */
.inset {
  padding: 0px 4px;
  border: rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484337), color-stop(100%, #3b372d));
  background-image: -webkit-linear-gradient(#484337, #3b372d);
  background-image: -moz-linear-gradient(#484337, #3b372d);
  background-image: -o-linear-gradient(#484337, #3b372d);
  background-image: linear-gradient(#484337, #3b372d);
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

/* line 271, ../sass/_base.scss */
.inset-button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#ffffff, #e8e8e8);
  background-image: -moz-linear-gradient(#ffffff, #e8e8e8);
  background-image: -o-linear-gradient(#ffffff, #e8e8e8);
  background-image: linear-gradient(#ffffff, #e8e8e8);
  border: 1px solid #cfcfcf;
  border-left: none;
}

/* line 278, ../sass/_base.scss */
.indent {
  margin-top: 8px;
  border-top: 1px solid #ccc;
}

/* line 283, ../sass/_base.scss */
#outer {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  background: red;
}

/* Overlay */
/* line 3, ../sass/_brief.scss */
#overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 3333;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}

/* line 18, ../sass/_brief.scss */
#brief {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  box-align: start;
  background-color: #ffffff;
  padding: 50px;
  width: 512px;
  max-height: 80%;
  overflow: scroll;
  color: #363636;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4em;
}
/* line 36, ../sass/_brief.scss */
#brief .brief-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 41, ../sass/_brief.scss */
#brief ol {
  list-style-position: inside;
}
/* line 44, ../sass/_brief.scss */
#brief ol li {
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 49, ../sass/_brief.scss */
#brief h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0px;
}
/* line 55, ../sass/_brief.scss */
#brief p, #brief ol {
  font-family: "Meta Serif OT";
  font-style: italic;
  margin: 20px 0 0 0;
}

/* line 64, ../sass/_brief.scss */
.brief-info {
  border-bottom: 1px dashed #d9d9d9;
  border-top: 1px dashed #d9d9d9;
  padding-bottom: 20px;
  margin: 30px 0px;
}
/* line 71, ../sass/_brief.scss */
.brief-info p {
  font-style: normal;
}

/* line 76, ../sass/_brief.scss */
.brief-author {
  font-size: 14px;
  margin-bottom: 8px;
}
/* line 80, ../sass/_brief.scss */
.brief-author .brief-date {
  margin-left: 5px;
  font-size: 12px;
}
/* line 86, ../sass/_brief.scss */
.brief-author img {
  position: relative;
  top: 9px;
  margin-right: 4px;
}

/* line 93, ../sass/_brief.scss */
.brief-user {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #ffcc00;
  padding: 5px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 13px;
}

/* line 104, ../sass/_brief.scss */
#name {
  text-transform: capitalize;
}

/* line 1, ../sass/_clicktoedit.scss */
.click-to-edit button {
  width: 100%;
  display: block;
  float: left;
  margin-top: 5px;
  border: 0;
  outline: 0;
  height: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

/* line 16, ../sass/_clicktoedit.scss */
.click-to-edit button:hover {
  background: #6671C7;
  cursor: hand;
}

/* line 1, ../sass/_feedback.scss */
#right {
  overflow: scroll;
  width: 300px;
  float: right;
  height: 100%;
  background: yellow;
  background: #fff;
  color: #242424;
}
/* line 15, ../sass/_feedback.scss */
#right h5 {
  margin-bottom: 10px;
  padding: 0px 0px;
}
/* line 20, ../sass/_feedback.scss */
#right ul {
  padding: 5px 15px;
}
/* line 24, ../sass/_feedback.scss */
#right ul li {
  margin-bottom: 15px;
}
/* line 28, ../sass/_feedback.scss */
#right ul li:hover .remove {
  opacity: 0.5;
}
/* line 32, ../sass/_feedback.scss */
#right .remove:hover {
  opacity: 1;
  color: red;
}

/* line 39, ../sass/_feedback.scss */
#feedback-header {
  padding: 15px 0px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}

/* line 46, ../sass/_feedback.scss */
.feedback-content {
  margin: 0;
  opacity: 1;
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 53, ../sass/_feedback.scss */
.feedback-content:hover {
  opacity: 1 !important;
}

/* line 58, ../sass/_feedback.scss */
.feedback-title {
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: #363d45;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 10px 8px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 72, ../sass/_feedback.scss */
.search {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  padding: 0px 4px 0px 8px;
  width: 130px;
  height: 24px;
  float: right;
  font-family: "Helvetica Neue", Arial;
}
/* line 85, ../sass/_feedback.scss */
.search:focus {
  outline: 0;
  border: 1px solid #0db4ff;
  -webkit-box-shadow: #0db4ff 0px 0px 5px;
  -moz-box-shadow: #0db4ff 0px 0px 5px;
  box-shadow: #0db4ff 0px 0px 5px;
}

/* line 92, ../sass/_feedback.scss */
.bubble {
  position: relative;
  margin-top: 12px;
  display: inline-block;
  padding: 6px 20px 6px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  border-radius: 8px;
  line-height: 1.5em;
  background-color: #fef0c0;
  color: #5c5c5c;
  font-family: "Georgia";
  font-style: italic;
}
/* line 111, ../sass/_feedback.scss */
.bubble:hover {
  background: #fef0c0;
}
/* line 115, ../sass/_feedback.scss */
.bubble:before {
  position: absolute;
  top: -7px;
  left: 10px;
  content: '';
  display: block;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fef0c0;
}

/* line 129, ../sass/_feedback.scss */
.remove {
  color: #000;
  opacity: 0;
  float: right;
  font-size: 16px;
  margin-left: 5px;
  position: absolute;
  top: 2px;
  right: 4px;
  border-radius: 50%;
  background: #fff;
}

/* line 142, ../sass/_feedback.scss */
.tag {
  background: #38342b;
  border-radius: 100px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  padding: 1px 7px;
  color: #fff;
  font-family: "Helvetica Neue";
}

/* line 154, ../sass/_feedback.scss */
input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

/* line 159, ../sass/_feedback.scss */
input[type="checkbox"] + label {
  opacity: 0.5;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
}

/* line 165, ../sass/_feedback.scss */
input[type="checkbox"]:checked + label {
  opacity: 1;
}

/* line 1, ../sass/_header.scss */
header {
  position: fixed;
  z-index: 1000;
  top: 0px;
  padding: 0px 10px;
  overflow: hidden;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #f0b800));
  background-image: -webkit-linear-gradient(#ffcc00, #f0b800);
  background-image: -moz-linear-gradient(#ffcc00, #f0b800);
  background-image: -o-linear-gradient(#ffcc00, #f0b800);
  background-image: linear-gradient(#ffcc00, #f0b800);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  font-size: 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
}
/* line 23, ../sass/_header.scss */
header ul {
  display: inline-block;
}
/* line 26, ../sass/_header.scss */
header ul li {
  display: inline;
  margin-right: 30px;
}
/* line 32, ../sass/_header.scss */
header a {
  text-decoration: none;
  color: #363d45;
  -webkit-transition: all 0.1s;
}
/* line 37, ../sass/_header.scss */
header a:hover {
  color: #242424 !important;
}
/* line 42, ../sass/_header.scss */
header span.logo {
  font-weight: bold;
  font-size: 18px;
}
/* line 46, ../sass/_header.scss */
header span.logo em {
  font-weight: normal;
  font-style: normal;
  padding-left: 5px;
}
/* line 53, ../sass/_header.scss */
header h2 {
  font-size: 13px;
  display: inline;
  -webkit-animation-duration: 0.8s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
}
/* line 64, ../sass/_header.scss */
header h5 {
  color: #333;
}
/* line 68, ../sass/_header.scss */
header input {
  -webkit-appearance: none;
  outline: 0;
  height: 24px;
  padding: 0px 0px 0px 4px;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
}

/* line 1, ../sass/_login.scss */
.user {
  position: absolute;
  top: 20px;
  right: 40px;
  margin-right: 100px;
  font-size: 13px;
  line-height: 1.3em;
}

/* line 14, ../sass/_login.scss */
#login input {
  width: 100px;
}

/* line 1, ../sass/_main.scss */
#main {
  margin: 0px 300px 0px auto;
  padding: 50px 50px;
  text-align: center;
  height: 100%;
  width: 100%;
  background: blue;
}
/* line 12, ../sass/_main.scss */
#main .current-screen {
  max-width: 100%;
}

/* line 17, ../sass/_main.scss */
#imgwrapper {
  display: block;
  position: absolute;
}
/* line 21, ../sass/_main.scss */
#imgwrapper > img {
  display: inline;
  vertical-align: bottom;
  background: #fff;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 30, ../sass/_main.scss */
#imgwrapper > img:hover {
  opacity: 1;
}

/* line 36, ../sass/_main.scss */
.emptystate {
  border-radius: 8px;
  color: #22262b;
  cursor: pointer;
}
/* line 42, ../sass/_main.scss */
.emptystate .upload-icon {
  font-size: 120px;
  border: none;
}
/* line 47, ../sass/_main.scss */
.emptystate h2 {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 1, ../sass/_navigation.scss */
#left {
  height: 100%;
  position: fixed;
  left: -120px;
  z-index: 10;
  transition: left 0.3s;
  -webkit-transition: left 0.2s ease-in-out;
  overflow: scroll;
  background: #242424;
}
/* line 11, ../sass/_navigation.scss */
#left ul {
  background: #242424;
}
/* line 15, ../sass/_navigation.scss */
#left:hover {
  left: 0px;
}
/* line 19, ../sass/_navigation.scss */
#left #overview {
  width: 150px;
  color: #fff;
}
/* line 24, ../sass/_navigation.scss */
#left #overview li {
  position: relative;
  padding: 10px;
}
/* line 28, ../sass/_navigation.scss */
#left #overview li:hover .removeimage {
  display: block;
}
/* line 33, ../sass/_navigation.scss */
#left #overview li img {
  display: block;
  width: 100%;
  opacity: 0.8;
}
/* line 38, ../sass/_navigation.scss */
#left #overview li img:hover {
  display: block;
  width: 100%;
  opacity: 1;
}

/* line 46, ../sass/_navigation.scss */
.add-image {
  border: 1px dashed rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 25px 10px 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 55, ../sass/_navigation.scss */
#filepicker {
  display: none;
}

/* line 59, ../sass/_navigation.scss */
#leftspacer {
  height: 40px;
}

/* line 63, ../sass/_navigation.scss */
.upload-icon {
  color: #101314;
  font-family: "pictos";
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  margin: 20px;
  -webkit-transition: color 0.2s;
  cursor: pointer;
}
/* line 77, ../sass/_navigation.scss */
.upload-icon:hover {
  color: #ffcc00;
}

/* line 82, ../sass/_navigation.scss */
.selected {
  color: #ffcc00;
  background: #000;
}

/* line 87, ../sass/_navigation.scss */
.selected img {
  opacity: 1 !important;
}

/* line 91, ../sass/_navigation.scss */
.removeimage {
  display: none;
  position: absolute;
  right: 12px;
  top: 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  font-weight: normal;
  font-size: 12px;
  width: 13px;
  height: 12px;
  text-align: center;
  padding: 3px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}

/* line 1, ../sass/_tooltip.scss */
.animate {
  -webkit-transition: all 1s;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 7, ../sass/_tooltip.scss */
.circle {
  border-radius: 100px;
}

/* line 10, ../sass/_tooltip.scss */
.note {
  width: 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  left: 2000px;
  top: 200px;
}

/* line 19, ../sass/_tooltip.scss */
.handle {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #fff;
  font-weight: bold;
  color: #ffcc00;
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(0, 0, 0);
  	/*
  	-webkit-animation-name: pulse;
  	-webkit-animation-duration: 1s;
    	animation-duration: 1s;
    	-webkit-animation-fill-mode: both;
    	animation-fill-mode: both;
    	-webkit-animation-direction:alternate;
   	-webkit-animation-iteration-count: infinite;
   	*/
}

/* line 46, ../sass/_tooltip.scss */
.pulseblue {
  -webkit-animation-name: pulseblue;
}

/* line 49, ../sass/_tooltip.scss */
.pulsegreen {
  -webkit-animation-name: pulsegreen !important;
}

/* line 52, ../sass/_tooltip.scss */
.pulsepurple {
  -webkit-animation-name: pulsepurple !important;
}

/* line 56, ../sass/_tooltip.scss */
.tooltip {
  position: absolute;
  z-index: 100;
  padding: 15px 20px 20px 20px;
  min-width: 300px;
  display: inline-block;
  top: 15px;
  left: -150px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.3em;
  background-color: #fff;
  color: #5c5c5c;
  font-family: "ff-meta-serif-web-pro", "Meta Serif", "Georgia", serif;
  font-size: 14px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
/* line 93, ../sass/_tooltip.scss */
.tooltip:before {
  position: absolute;
  top: -7px;
  left: 150px;
  content: '';
  display: block;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
/* line 106, ../sass/_tooltip.scss */
.tooltip ul {
  max-height: 200px;
  overflow: scroll;
}
/* line 111, ../sass/_tooltip.scss */
.tooltip form {
  margin-top: 20px;
}

/* line 116, ../sass/_tooltip.scss */
.tooltip:focus {
  outline: 0;
}

/* line 120, ../sass/_tooltip.scss */
.note {
  width: 15px;
  height: 15px;
  position: relative;
}

/* line 125, ../sass/_tooltip.scss */
.large {
  width: 50px;
  height: 50px;
}

/* line 129, ../sass/_tooltip.scss */
.note-handle:hover {
  opacity: 1;
}

/* line 133, ../sass/_tooltip.scss */
.ui-draggable {
  cursor: move;
}

/* line 135, ../sass/_tooltip.scss */
.open {
  opacity: 1 !important;
  visibility: visible;
  margin-top: 13px;
}

@font-face {
  font-family: "pictos";
  src: url(fonts/pictos-web.ttf);
}

/* line 22, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 26, ../sass/style.scss */
body {
  margin: 0 auto;
  background: #f2efe4;
  color: #363d45;
  font-size: 16px;
  font-family: "proxima-nova", "jaf-facitweb", "Helvetica Neue", "Arial", sans-serif;
  -webkit-transform3d: rotateZ(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

/* line 39, ../sass/style.scss */
canvas {
  background: transparent;
  opacity: 1;
  position: absolute;
  top: 0px;
  z-index: 100;
  pointer-events: none;
}

/* line 48, ../sass/style.scss */
li {
  font-size: 13px;
  list-style-type: none;
  line-height: 1.2em;
  cursor: pointer;
}

/* line 55, ../sass/style.scss */
body.dragOver #dropzone {
  display: block;
}

/* During drag */
/* line 56, ../sass/style.scss */
body #dropzone {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

/* line 78, ../sass/style.scss */
.fullscreen {
  padding: 0 !important;
  top: 0px !important;
  margin-top: 0px !important;
  border: 0px !important;
}

/* line 85, ../sass/style.scss */
.clickable {
  cursor: pointer;
}

/* line 89, ../sass/style.scss */
#mouseTracker {
  top: 0px;
  position: fixed;
  display: block;
  width: 1000px;
  height: 1000px;
  z-index: 5;
  pointer-events: none;
}
