@charset "UTF-8";
/* line 1, ../sass/_animations.scss */
.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
}

/* line 9, ../sass/_animations.scss */
.flash {
  -webkit-animation-name: flash;
}

/* line 13, ../sass/_animations.scss */
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

/* line 18, ../sass/_animations.scss */
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

/* line 23, ../sass/_animations.scss */
.slideOut  {
  left: -120px;
}

@-webkit-keyframes slideInLeft {
  /* line 29, ../sass/_animations.scss */
  0% {
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }

  /* line 34, ../sass/_animations.scss */
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 39, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  /* line 47, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutLeft {
  /* line 62, ../sass/_animations.scss */
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 67, ../sass/_animations.scss */
  50% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  /* line 72, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }
}

@keyframes slideOutLeft {
  /* line 80, ../sass/_animations.scss */
  0% {
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  /* line 86, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@-webkit-keyframes flash {
  /* line 95, ../sass/_animations.scss */
  0% {
    opacity: 0.1;
    color: #000;
  }

  /* line 100, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  /* line 106, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(255, 204, 0, 0);
    background: transparent;
    opacity: 0.5;
    border: 5px solid #ffcc00;
    -webkit-transform: scale(0.5);
  }

  /* line 119, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 5px 1px #ffcc00;
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes pulsegreen {
  /* line 128, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(107, 184, 35, 0);
    background: #6bb823;
  }

  /* line 138, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #6bb823;
    background: #81d136;
  }
}

@-webkit-keyframes pulseblue {
  /* line 146, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(12, 125, 163, 0);
    background: #0d7da3;
  }

  /* line 156, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #0c7da3;
    background: #36aad1;
  }
}

@-webkit-keyframes pulsepurple {
  /* line 164, ../sass/_animations.scss */
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(128, 62, 189, 0);
    background: #803ebd;
  }

  /* line 174, ../sass/_animations.scss */
  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #803ebd;
    background: #aa70e0;
  }
}

/* Colors */
/* line 3, ../sass/_base.scss */
.blue {
  background: #36aad1;
}

/* line 7, ../sass/_base.scss */
.fill-brown {
  background: #38342b;
}

/* line 11, ../sass/_base.scss */
.green {
  background: #81d136;
}

/* line 15, ../sass/_base.scss */
.grey {
  color: #b7b7b7;
}

/* line 19, ../sass/_base.scss */
.light {
  color: #838f96;
}

/* line 23, ../sass/_base.scss */
.purple {
  background: #aa70e0;
}

/* line 27, ../sass/_base.scss */
.text-light {
  color: #d4d6d9;
  text-shadow: 0 -1px 0 black;
}

/* line 32, ../sass/_base.scss */
.yellow {
  color: #ffcc00;
}

/* Layout */
/* line 38, ../sass/_base.scss */
.flex  {
  -webkit-flex-grow: 1;
}

/* line 42, ../sass/_base.scss */
.center {
  text-align: center;
}

/* line 46, ../sass/_base.scss */
.right {
  float: right;
}

/* line 50, ../sass/_base.scss */
.space {
  margin-right: 15px;
}

/* line 54, ../sass/_base.scss */
.spacing {
  padding: 10px;
}

/* Dimensions */
/* line 60, ../sass/_base.scss */
.sm {
  height: 24px;
  line-height: 24px;
}

/* line 65, ../sass/_base.scss */
.medium {
  height: 30px;
}

/* Style */
/* line 71, ../sass/_base.scss */
.round {
  border-radius: 3px;
}

/* line 76, ../sass/_base.scss */
.edit {
  font-size: 11px;
  margin-left: 5px;
}

/* line 81, ../sass/_base.scss */
.first {
  margin-top: 0;
}

/* line 85, ../sass/_base.scss */
h1 {
  color: #fff;
}

/* line 89, ../sass/_base.scss */
h3 {
  font-size: 14px;
}

/* line 93, ../sass/_base.scss */
.semi {
  opacity: 0.6 !important;
}

/* line 97, ../sass/_base.scss */
.opaque {
  opacity: 1 important;
}

/* Buttons */
/* line 103, ../sass/_base.scss */
button {
  height: 30px;
  border-radius: 3px;
  outline: 0;
  border: 0px;
  padding: 0px 12px;
  font-family: "Helvetica Neue","Arial";
  font-size: 13px;
}

/* line 113, ../sass/_base.scss */
.btn-sm {
  height: 24px;
}

/* line 117, ../sass/_base.scss */
.btn-login {
  background: #ffcc00;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 13px;
}

/* line 125, ../sass/_base.scss */
.button-group {
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  overflow: hidden;
}

/* line 133, ../sass/_base.scss */
.splitbutton-left {
  border-radius: 3px 0px 0px 3px;
}

/* line 137, ../sass/_base.scss */
.splitbutton-right {
  border-radius: 0px 3px 3px 0px;
}

/* line 141, ../sass/_base.scss */
.split-button {
  line-height: 40px;
  vertical-align: center;
  margin-top: 8px;
  height: 24px;
}

/* Forms */
/* line 150, ../sass/_base.scss */
.form-inline {
  display: inline;
}

/* line 154, ../sass/_base.scss */
.form-control {
  margin-right: 6px;
}

/* line 158, ../sass/_base.scss */
.key {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px 4px;
  background: #363d45;
  border: 1px solid #666;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #ffcc00;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
}

/* Icons */
/* line 182, ../sass/_base.scss */
.icon {
  font-family: "pictos";
  font-size: 16px;
}

/* line 186, ../sass/_base.scss */
.icon:hover {
  opacity: 1;
}

/* line 190, ../sass/_base.scss */
.icon.before {
  margin-right: 7px;
}

/* Inset */
/* line 196, ../sass/_base.scss */
.inset {
  display: inline-block;
  padding: 0px 4px;
  border: rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484337), color-stop(100%, #3b372d));
  background-image: -webkit-linear-gradient(#484337, #3b372d);
  background-image: -moz-linear-gradient(#484337, #3b372d);
  background-image: -o-linear-gradient(#484337, #3b372d);
  background-image: linear-gradient(#484337, #3b372d);
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
}

/* line 216, ../sass/_base.scss */
.inset-button {
  background: -moz-linear-gradient(180deg, white 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(180deg, white 0%, #e8e8e8 100%);
  background: -o-linear-gradient(180deg, white 0%, #e8e8e8 100%);
  background: -webkit-linear-gradient(180deg, white 0%, #e8e8e8 100%);
  background: linear-gradient(180deg, #ffffff 0%, #e8e8e8 100%);
  border: 1px solid #cfcfcf;
  border-left: none;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

/* line 1, ../sass/_clicktoedit.scss */
.click-to-edit button {
  width: 100%;
  display: block;
  float: left;
  margin-top: 5px;
  border: 0;
  outline: 0;
  height: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

/* line 16, ../sass/_clicktoedit.scss */
.click-to-edit button:hover {
  background: #6671C7;
  cursor: hand;
}

/* line 1, ../sass/_feedback.scss */
#right {
  margin-top: 40px;
  float: right;
  overflow: scroll;
  width: 400px;
  background: #edeae2;
  color: #242424;
}
/* line 14, ../sass/_feedback.scss */
#right h5 {
  margin-bottom: 10px;
  padding: 0px 0px;
}
/* line 19, ../sass/_feedback.scss */
#right ul {
  padding: 5px 15px;
}
/* line 23, ../sass/_feedback.scss */
#right ul li {
  margin-bottom: 15px;
}
/* line 27, ../sass/_feedback.scss */
#right ul li:hover .remove {
  opacity: 0.5;
}
/* line 31, ../sass/_feedback.scss */
#right .remove:hover {
  opacity: 1;
  color: red;
}

/* line 38, ../sass/_feedback.scss */
#feedback-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 -4px 6px rgba(0, 0, 0, 0.4);
  position: relative;
}

/* line 43, ../sass/_feedback.scss */
.feedback-content {
  margin: 0;
  opacity: 1;
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 50, ../sass/_feedback.scss */
.feedback-content:hover {
  opacity: 1 !important;
}

/* line 55, ../sass/_feedback.scss */
.feedback-title {
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: #363d45;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 10px 8px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 69, ../sass/_feedback.scss */
.search {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 4px 4px 4px 8px;
  width: 130px;
  position: absolute;
  top: 7px;
  right: 4px;
  font-family: "Helvetica Neue", Arial;
}
/* line 83, ../sass/_feedback.scss */
.search:focus {
  outline: 0;
  border: 1px solid #0db4ff;
  -webkit-box-shadow: #0db4ff 0px 0px 5px;
  -moz-box-shadow: #0db4ff 0px 0px 5px;
  box-shadow: #0db4ff 0px 0px 5px;
}

/* line 90, ../sass/_feedback.scss */
.bubble {
  position: relative;
  margin-top: 12px;
  display: inline-block;
  padding: 6px 20px 6px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  border-radius: 8px;
  line-height: 1.5em;
  background-color: #fef0c0;
  color: #5c5c5c;
  font-family: "Georgia";
  font-style: italic;
}
/* line 109, ../sass/_feedback.scss */
.bubble:hover {
  background: #fef0c0;
}
/* line 113, ../sass/_feedback.scss */
.bubble:before {
  position: absolute;
  top: -7px;
  left: 10px;
  content: '';
  display: block;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fef0c0;
}

/* line 127, ../sass/_feedback.scss */
.remove {
  color: #000;
  opacity: 0;
  float: right;
  font-size: 16px;
  margin-left: 5px;
  position: absolute;
  top: 2px;
  right: 4px;
  border-radius: 50%;
  background: #fff;
}

/* line 140, ../sass/_feedback.scss */
.tag {
  background: #38342b;
  border-radius: 100px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  padding: 1px 7px;
  color: #fff;
  font-family: "Helvetica Neue";
}

/* line 152, ../sass/_feedback.scss */
input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

/* line 157, ../sass/_feedback.scss */
input[type="checkbox"] + label {
  opacity: 0.5;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
}

/* line 163, ../sass/_feedback.scss */
input[type="checkbox"]:checked + label {
  opacity: 1;
}

/* line 1, ../sass/_header.scss */
header {
  position: fixed;
  z-index: 1000;
  display: -webkit-flex;
  overflow: hidden;
  padding: 0px 10px;
  width: 100%;
  height: 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #f0b800));
  background-image: -webkit-linear-gradient(#ffcc00, #f0b800);
  background-image: -moz-linear-gradient(#ffcc00, #f0b800);
  background-image: -o-linear-gradient(#ffcc00, #f0b800);
  background-image: linear-gradient(#ffcc00, #f0b800);
  font-size: 13px;
  line-height: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
}
/* line 20, ../sass/_header.scss */
header div {
  display: -webkit-flex;
}
/* line 24, ../sass/_header.scss */
header a {
  text-decoration: none;
  color: #363d45;
  -webkit-transition: all 0.1s;
}
/* line 29, ../sass/_header.scss */
header a:hover {
  color: #242424 !important;
}
/* line 34, ../sass/_header.scss */
header span.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
/* line 39, ../sass/_header.scss */
header span.logo em {
  font-weight: normal;
  font-style: normal;
  padding-left: 5px;
}
/* line 46, ../sass/_header.scss */
header h2 {
  font-size: 13px;
  display: inline;
  -webkit-animation-duration: 0.8s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
}
/* line 57, ../sass/_header.scss */
header h5 {
  color: #333;
}
/* line 61, ../sass/_header.scss */
header input {
  -webkit-appearance: none;
  outline: 0;
  height: 24px;
  padding: 0px 0px 0px 4px;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
}

/* line 1, ../sass/_login.scss */
.user {
  position: absolute;
  top: 20px;
  right: 40px;
  margin-right: 100px;
  font-size: 13px;
  line-height: 1.3em;
}

/* line 14, ../sass/_login.scss */
#login input {
  width: 100px;
}

/* line 1, ../sass/_main.scss */
#main {
  width: 100%;
  overflow: scroll;
  display: -webkit-flex;
  -webkit-align-content: stretch;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  margin: 40px 0px 20px 0px;
  padding: 20px 50px;
}
/* line 17, ../sass/_main.scss */
#main .current-screen {
  max-width: 100%;
}

/* line 22, ../sass/_main.scss */
#imgwrapper {
  display: block;
  position: relative;
}
/* line 28, ../sass/_main.scss */
#imgwrapper img {
  display: inline;
  vertical-align: bottom;
  border: 8px solid #fff;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* line 37, ../sass/_main.scss */
.emptystate {
  border-radius: 8px;
  color: #22262b;
  cursor: pointer;
}
/* line 43, ../sass/_main.scss */
.emptystate .upload-icon {
  font-size: 120px;
  border: none;
}
/* line 48, ../sass/_main.scss */
.emptystate h2 {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 53, ../sass/_main.scss */
#content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
}

/* line 1, ../sass/_navigation.scss */
#left {
  height: 100%;
  position: fixed;
  left: -120px;
  z-index: 10;
  transition: left 0.3s;
  -webkit-transition: left 0.2s ease-in-out;
  overflow: scroll;
  background: #242424;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
}
/* line 14, ../sass/_navigation.scss */
#left ul {
  background: #242424;
}
/* line 18, ../sass/_navigation.scss */
#left:hover {
  left: 0px;
}
/* line 22, ../sass/_navigation.scss */
#left #overview {
  width: 150px;
  color: #fff;
}
/* line 27, ../sass/_navigation.scss */
#left #overview li {
  position: relative;
  padding: 10px;
}
/* line 31, ../sass/_navigation.scss */
#left #overview li:hover .removeimage {
  display: block;
}
/* line 36, ../sass/_navigation.scss */
#left #overview li img {
  display: block;
  width: 100%;
  opacity: 0.8;
}
/* line 41, ../sass/_navigation.scss */
#left #overview li img:hover {
  display: block;
  width: 100%;
  opacity: 1;
}

/* line 49, ../sass/_navigation.scss */
.add-image {
  border: 1px dashed rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 25px 10px 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 58, ../sass/_navigation.scss */
#filepicker {
  display: none;
}

/* line 62, ../sass/_navigation.scss */
#leftspacer {
  height: 40px;
}

/* line 66, ../sass/_navigation.scss */
.upload-icon {
  color: #101314;
  font-family: "pictos";
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  margin: 20px;
  -webkit-transition: color 0.2s;
  cursor: pointer;
}
/* line 80, ../sass/_navigation.scss */
.upload-icon:hover {
  color: #ffcc00;
}

/* line 85, ../sass/_navigation.scss */
.selected {
  color: #ffcc00;
  background: #000;
}

/* line 90, ../sass/_navigation.scss */
.selected img {
  opacity: 1 !important;
}

/* line 94, ../sass/_navigation.scss */
.removeimage {
  display: none;
  position: absolute;
  right: 12px;
  top: 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  font-weight: normal;
  font-size: 12px;
  width: 13px;
  height: 12px;
  text-align: center;
  padding: 3px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}

/* line 1, ../sass/_tooltip.scss */
.animate {
  -webkit-transition: all 1s;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 7, ../sass/_tooltip.scss */
.circle {
  border-radius: 100px;
}

/* line 10, ../sass/_tooltip.scss */
.note {
  width: 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  left: 2000px;
  top: 200px;
}

/* line 19, ../sass/_tooltip.scss */
.handle {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: 5px solid #ffcc00;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

/* line 38, ../sass/_tooltip.scss */
.pulseblue {
  -webkit-animation-name: pulseblue;
}

/* line 41, ../sass/_tooltip.scss */
.pulsegreen {
  -webkit-animation-name: pulsegreen !important;
}

/* line 44, ../sass/_tooltip.scss */
.pulsepurple {
  -webkit-animation-name: pulsepurple !important;
}

/* line 48, ../sass/_tooltip.scss */
.tooltip {
  position: absolute;
  z-index: 100;
  min-width: 150px;
  display: inline-block;
  top: 15px;
  left: -75px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  padding: 6px 20px 6px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  border-radius: 8px;
  line-height: 1.5em;
  background-color: #fef0c0;
  color: #5c5c5c;
  font-family: "Georgia";
  font-style: italic;
}
/* line 74, ../sass/_tooltip.scss */
.tooltip:hover {
  background: #fef0c0;
}
/* line 78, ../sass/_tooltip.scss */
.tooltip:before {
  position: absolute;
  top: -7px;
  left: 75px;
  content: '';
  display: block;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fef0c0;
}

/* line 92, ../sass/_tooltip.scss */
.tooltip:focus {
  outline: 0;
}

/* line 96, ../sass/_tooltip.scss */
.note {
  width: 15px;
  height: 15px;
  position: relative;
}

/* line 101, ../sass/_tooltip.scss */
.large {
  width: 50px;
  height: 50px;
}

/* line 105, ../sass/_tooltip.scss */
.note-handle:hover {
  opacity: 1;
}

/* line 109, ../sass/_tooltip.scss */
.ui-draggable {
  cursor: move;
}

/* line 111, ../sass/_tooltip.scss */
.open {
  opacity: 1 !important;
  visibility: visible;
  margin-top: 13px;
}

@font-face {
  font-family: "pictos";
  src: url('/css/fonts/../fonts/pictos-web.ttf') format('truetype');
}

/* line 17, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/style.scss */
body {
  margin: 0 auto;
  background: #363d45;
  color: #363d45;
  font-size: 16px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  box-sizing: border-box;
  -webkit-transform3d: rotateZ(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

/* line 36, ../sass/style.scss */
canvas {
  background: transparent;
  opacity: 1;
  position: absolute;
  top: 0px;
  z-index: 100;
  pointer-events: none;
}

/* line 45, ../sass/style.scss */
li {
  font-size: 13px;
  list-style-type: none;
  line-height: 1.2em;
  cursor: pointer;
}

/* line 52, ../sass/style.scss */
body.dragOver #dropzone {
  display: block;
}

/* During drag */
/* line 53, ../sass/style.scss */
body #dropzone {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

/* line 75, ../sass/style.scss */
.fullscreen {
  padding: 0 !important;
  top: 0px !important;
  margin-top: 0px !important;
  border: 0px !important;
}

/* line 82, ../sass/style.scss */
.clickable {
  cursor: pointer;
}

/* line 86, ../sass/style.scss */
#mouseTracker {
  top: 0px;
  position: fixed;
  display: block;
  width: 1000px;
  height: 1000px;
  z-index: 5;
  pointer-events: none;
}
