/* Colors */

.blue {
	background: #36aad1;
}

.fill-brown {
	background: $brown;
}

.green {
	background: #81d136;
}

.grey {
	color: #b7b7b7;
}

.light {
	color: $light;
}

.purple {
	background: #aa70e0;
}

.text-light {
	color: #d4d6d9;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}

.yellow {
	color: #ffcc00;
}

/* Layout */

.flex {
	@include box-flex(1);
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.space {
	margin-right: 15px;
}

.spacing {
	padding: 10px;
}

/* Dimensions */

.sm {
 	height: 24px;
 	line-height: 24px;
}

.medium {
	height: 30px;
}

/* Style */

.round {
	border-radius: 3px;
}


.edit {
	font-size: 11px;
	margin-left: 5px;
}

.first {
	margin-top: 0;
}

h1 {
	color: #fff;
}

h3 {	
	font-size: 14px;
}

.semi {
	opacity: 0.6 !important;
}

.opaque {
	opacity: 1 important;
}

/* Buttons */

button {
	height: 30px;
	@include border-radius(3px);

	outline: 0;
	border: 0px;
	padding: 0px 12px;
	font-family: "Helvetica Neue","Arial";
	font-size: 13px;
	cursor: pointer;
}

.btnokay {
	@include background-image(linear-gradient(#addb39, #91ba2b));
	border: 1px solid rgba(0, 0, 0, 0.20);
	padding: 6px 12px 6px 12px;
	text-shadow: 0 1px 0 rgba(13, 0, 0, 0.30);
	color: #fff;
	font-weight: bold;

	&:hover {
		@include background-image(linear-gradient(lighten(#addb39, 5%), lighten(#91ba2b, 5%)));
	}
}

.btndisabled {
	background: #ccc;
	border: 1px solid rgba(0, 0, 0, 0.10);
	padding: 6px 12px 6px 12px;
	text-shadow: 0 1px 0 rgba(13, 0, 0, 0.30);
	color: #fff;
	font-weight: bold;
}

.btn-sm {
	height: 24px;
}

.btn-login {
	background: $yellow;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: 13px;
}

.button-group {
	padding-left: 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.15);
	@include display-box;
	overflow: hidden;
}

.splitbutton-left {
	border-radius: 3px 0px 0px 3px;
}

.splitbutton-right {
	border-radius: 0px 3px 3px 0px;
}

.split-button {
	
}

/* Forms */

.form-inline {	
	display: inline;
}

.form-block {
	display: block;
	margin-top: 10px;
}

.form-control {
	margin-right: 6px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}

input[type="text"] {
	border: 1px solid rgba(0, 0, 0, 0.20);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 12px 6px 12px;
	font-size: 14px;
	&:focus {
		outline: 0;
	}
}

.key {
	
	width: 16px;
	height: 16px;

	display: inline-block;
	margin: 0px 4px;

	background: $dark_blue;

	border: 1px solid #666;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px rgba(0, 0, 0, 0.1);
	border-radius: 2px;

	color: #ffcc00;
	text-align: center;
	line-height: 16px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0,0,0, 0.8);
	
}

/* Icons */

.icon {
	font-family: "pictos";
	font-size: 16px;
}
.icon:hover {
	opacity: 1;
}

.icon.before {
	margin-right: 7px;
}

/* Inset */

.inset {
	
	display: inline-block;

	padding: 0px 4px;
	
	border: rgba(0, 0, 0, 0.2);

	@include background-image(linear-gradient(#484337, #3b372d));
	@include border-left-radius(3px);
	@include box-shadow(rgba(255, 255, 255, 0.5) 0px 1px 0px);

	color: #fff;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	line-height: 24px;
}

.inset-button {
	background: -moz-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: -ms-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: -o-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: -webkit-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	border: 1px solid #cfcfcf;
	border-left: none;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50);
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50);
}

/* Overlay */
#overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 3333;

	@include display-box;

  	@include box-orient(vertical);
  	@include box-align(center);
  	@include box-pack(center);
}

#brief {

	background-color: #ffffff;
	padding: 50px;
	width: 512px;
	max-height: 80%;

	overflow: scroll;

	color: #363636;
	font-size: 18px;
	
	font-weight: normal;
	line-height: 1.4em;

	ol {
		list-style-position: inside;
	}
	ol li {
		font-size: 18px;	
		margin-bottom: 10px;
	}

	h3 {
		font-size: 18px;
		font-weight: bold;
		margin: 40px 0px;
	}

	p, ol {
		font-family: "Meta Serif OT";
		font-style: italic;
		margin: 20px 0 0 0;
	}

	.brief-info {

		border-bottom: 1px dashed #d9d9d9;
		border-top: 1px dashed #d9d9d9;
		padding-bottom: 20px;
		margin: 30px 0px;

		p {
			font-style: normal;
		}
	}

	.brief-author {
		font-size: 14px;

		.brief-date {
			margin-left: 5px;
			font-size: 12px;
		}


		img {
			position: relative;
			top: 9px;
			margin-right: 4px;
		}
	}

	.brief-user {
		@include border-radius(50%);
		background: #ffcc00;
		padding: 5px;
		color: #fff;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
		font-weight: bold;
		font-size: 13px;
	}
}

#name {
	text-transform: capitalize;
}