/* Colors */

.blue {
	background: #36aad1;
}

.fill-brown {
	background: $brown;
}

.green {
	background: #81d136;
}

.grey {
	color: #b7b7b7;
}

.light {
	color: $light;
}

.purple {
	background: #aa70e0;
}

.text-light {
	color: #d4d6d9;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}

.yellow {
	color: #ffcc00;
}

/* Layout */

.center {
	text-align: center;
}

.left {
	float: left;
}
.right {
	float: right;
}

.space {
	margin-right: 15px;
}

.spacing {
	padding: 10px;
}

/* Dimensions */

.sm {
 	height: 24px;
 	line-height: 24px;
}

.medium {
	height: 30px;
}

/* Style */

.round {
	border-radius: 3px;
}


.edit {
	font-size: 11px;
	margin-left: 5px;
}

.first {
	margin-top: 0;
}

h1 {
	color: #fff;
}

h3 {	
	font-size: 14px;
}

.semi {
	opacity: 0.6 !important;
}

.opaque {
	opacity: 1 important;
}

/* Buttons */

button, .button {
	vertical-align: middle;
	@include border-radius(3px);
	outline: 0;
	border: 0px;
	@include background-image(linear-gradient(#ffffff, #e8e8e8));
	border: 1px solid #cfcfcf;
	padding: 8px 12px;
	font-family: "Helvetica Neue","Arial";
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

.btnokay {
	@include background-image(linear-gradient(lighten(#ffcc00, 10%), #ffcc00));
	border: 1px solid darken(#ffcc00, 5%);
	padding: 6px 12px 6px 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.30);
	color: #333;
	font-weight: bold;

	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);


	&:hover {
		
	}
}

.btndisabled {
	background: #ccc;
	border: 1px solid rgba(0, 0, 0, 0.10);
	padding: 6px 12px 6px 12px;
	text-shadow: 0 1px 0 rgba(13, 0, 0, 0.30);
	color: #fff;
	font-weight: bold;
}

.btn-sm {
	height: 24px;
}

.btn-login {
	background: $yellow;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: 13px;
}

.splitbutton-left {
	border-radius: 3px 0px 0px 3px !important;
	min-width: 250px;	
	@include box-sizing(border-box);
}

.splitbutton-right {
	border-radius: 0px 3px 3px 0px;
}

.split-button {
	vertical-align:middle;
	display: inline-block;
	height: 24px;
	line-height: 13px;

}

/* Forms */

.form-inline {	
	display: inline;
}

.form-block {
	display: block;
	margin-top: 10px;
}

.form-control {
	margin-right: 6px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}

input[type="text"], input[type="password"] {
	border: 1px solid rgba(0, 0, 0, 0.20);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 12px 6px 12px;
	font-size: 14px;
	&:focus {
		outline: 0;
	}
}

.key {
	
	width: 16px;
	height: 16px;

	display: inline-block;
	margin: 0px 4px;

	background: $dark_blue;

	border: 1px solid #666;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px rgba(0, 0, 0, 0.1);
	border-radius: 2px;

	color: #ffcc00;
	text-align: center;
	line-height: 16px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0,0,0, 0.8);
	
}

/* Icons */

.icon {
	font-family: "pictos";
	font-size: 16px;
}
.icon:hover {
	opacity: 1;
}

.icon.before {
	margin-right: 7px;
}

/* Inset */

.inset {
	padding: 0px 4px;
	
	border: rgba(0, 0, 0, 0.2);

	@include background-image(linear-gradient(#484337, #3b372d));
	@include border-left-radius(3px);
	@include box-shadow(rgba(255, 255, 255, 0.5) 0px 1px 0px);

	color: #fff;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

.inset-button {

	@include background-image(linear-gradient(#ffffff, #e8e8e8));
	border: 1px solid #cfcfcf;
	border-left: none;
}

.indent {
	margin-top: 8px;
	border-top: 1px solid #ccc;
}
