.click-to-edit button {
	width: 100%;
	display: block;
	float: left;
	margin-top: 5px;
	border: 0;
	outline: 0;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.click-to-edit button:hover {
	background: #6671C7;
	cursor: hand;
}