#right {
	padding: 10px;

	width: 300px;
  	height: 100%;
  	float: right;
  	
  	overflow-x: hidden;
	overflow-y: scroll;

	color: #242424;

	@include transition-property(all);
  	@include transition-duration(0.5s);
  	@include transition-timing-function(ease-in-out);

  	&.fs {
		margin-right: -300px !important;
	}


	h5 {
		margin-bottom: 10px;
		padding: 0px 0px;
	}
}

.comment-container {
	margin: 10px 0px;
	position: relative;
	width: 100%;

	opacity: 1;
	background: #fff;
	
	@include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 1px);
	@include border-radius(5px);

	&:hover {
		opacity: 1 !important;
	}
	
}
.comment-number {
	
	background: #fff;
	
	margin: 0 auto;
	vertical-align: middle;
	display: block;
	position: relative;
	top: -10px;
	width: 20px;
	height: 20px;
	
	border: 5px solid white;
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px, $background 0px 0px 0px 5px);

	text-align: center;
	color: $light;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 12px;

	@include border-radius(50%);
}

.comment-first {
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 3px);
}
.comment:not(:last-of-type) {
	border-bottom: 1px solid #e2e6e8;
	position: relative;
}
.comment-form {
	
	padding: 12px;

	border-top: 1px dashed #c0cacf;
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 3px);

	.batch {
		position: absolute;
	}
	
	input {
		border: 0;
		width: 100%;
		padding: 0px 0px 0px 20px;
		display: inline;
	}
	::-webkit-input-placeholder {
		font-style: italic;
   		color: #999;
	}
	:-moz-placeholder {
		font-style: italic;
	    color: #999;
	}
	::-moz-placeholder {
		font-style: italic;
	    color: #999;
	}
	:-ms-input-placeholder {
		font-style: italic;
	    color: #999;
	}
}

.comment-inner {
	padding: 0px 12px 12px 12px;

	p {
		display: block;
		font-family: $SERIF;
		word-wrap: break-word;
	}
}

.scroll-container {
	background: #fafafa;
}


#feedback-header {
	padding: 15px 0px;
	margin-bottom: 45px;

	h3 {
		display: inline-block;
		float: left;
	}
}

.feedback-content {
	
}

.feedback-title  {
	
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(255, 255, 255, 0.10);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	color: $dark_blue;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 10px 8px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.search {
	float: right;
	position: relative;
	top: 3px;
}
.search .batch {
	position: relative;
	top: 6px;
	left: 21px;
	z-index: 999;
	font-size:13px;

}

.search input {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	@include border-radius(100px);
	
	padding: 0px 4px 0px 25px;
	width: 130px;
	height: 24px;
	
	font-family: $SANS;
	font-size: 14px;

	&:focus {
		outline: 0;
		border: 1px solid rgba(13, 180, 255, 1);
		@include box-shadow(rgba(13, 180, 255, 1) 0px 0px 5px);
	}
}

.remove {
	color: #000;
	opacity: 0;
	float: right;
	font-size: 16px;
 	margin-left: 5px;
 	position: absolute;
 	top: 2px;
	right: 4px;
	border-radius: 50%;
	background: #fff;
}

.tag {
	background: $brown;
	border-radius: 100px;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	padding: 1px 7px;
	color: #fff;
	font-family: "Helvetica Neue";
}

input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

input[type="checkbox"] + label{
	opacity: 0.5;
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
}
input[type="checkbox"]:checked + label {
	opacity: 1;
}
