#right {
	
	margin-top: 40px;
	
	float: right;
	overflow: scroll;

	width: 400px;

	background: $brownish;

	color: #242424;

	h5 {
		margin-bottom: 10px;
		padding: 0px 0px;
	}

	ul {
		padding: 5px 15px;
	}

	ul li {
		margin-bottom: 15px;
	}
	
	ul li:hover .remove {
		opacity: 0.5;
	}
	
	.remove:hover{
		opacity: 1;
		color: red;
	}

}

#feedback-header {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20), inset 0 -4px 6px rgba(0, 0, 0, 0.40);
	position: relative;
}

.feedback-content {
	margin: 0;
	opacity: 1;
	padding: 10px;
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20);

	&:hover {
		opacity: 1 !important;
	}
}

.feedback-title  {
	
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(255, 255, 255, 0.10);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	color: $dark_blue;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 10px 8px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.search {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	padding: 4px 4px 4px 8px;
	width: 130px;
	position: absolute;
	top: 7px;
	right: 4px;
	font-family: "Helvetica Neue", Arial;

	&:focus {
		outline: 0;
		border: 1px solid rgba(13, 180, 255, 1);
		@include box-shadow(rgba(13, 180, 255, 1) 0px 0px 5px);
	}
}

.bubble {

	position: relative;
	margin-top: 12px;
	display: inline-block;

	padding: 6px 20px 6px 6px;
	
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 0px);
	border-radius: 8px;

	line-height: 1.5em;

	background-color: #fef0c0;

	color: #5c5c5c;
	font-family: "Georgia";
	font-style: italic;

	&:hover {
		background: #fef0c0;
	}

	 &:before {
	 	position: absolute;
    	top: -7px;
    	left: 10px;
    
    	content: '';
    	display: block;
	
    	border-right: 10px solid transparent;
    	border-left: 10px solid transparent;
    	border-bottom: 10px solid #fef0c0;
    }
}

.remove {
	color: #000;
	opacity: 0;
	float: right;
	font-size: 16px;
 	margin-left: 5px;
 	position: absolute;
 	top: 2px;
	right: 4px;
	border-radius: 50%;
	background: #fff;
}

.tag {
	background: $brown;
	border-radius: 100px;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	padding: 1px 7px;
	color: #fff;
	font-family: "Helvetica Neue";
}

input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

input[type="checkbox"] + label{
	opacity: 0.5;
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
}
input[type="checkbox"]:checked + label {
	opacity: 1;
}