.feedback {
    height: 100%;
    -webkit-box-sizing: border-box;

    padding-bottom: 50px;
    padding-right: 15px;

    width: $feedback_width;

    float: right;
    position: relative;

    color: #242424;

    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);

    &.fs {
        margin-right: -300px !important;
    }

}
.comment-container {
	margin-bottom: 20px;
	position: relative;
	width: 100%;

	opacity: 1;
	background: #fff;

	@include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 1px);
	@include border-radius(5px);

    white-space: normal;

	&:hover {
		opacity: 1 !important;
	}

    &:hover .remove-comment-link {
        opacity: 1;
    }

}
.comment-number {

	background: #424242;

	margin: 0 auto;
	vertical-align: middle;
	display: block;
	position: relative;
	top: -10px;
	width: 12px;
	height: 12px;

	border: 5px solid #424242;
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px, $background 0px 0px 0px 5px);

	text-align: center;
	color: $yellow;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 12px;

	@include border-radius(50%);
}

.comment-first {
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 2px 2px);
}
.comment-after-number {
    margin-top: -10px;
}
.comment:not(:last-of-type) {
	border-bottom: 1px solid #e2e6e8;
	position: relative;
}
.comment-form {

	padding: 12px;
    white-space: normal;

	border-top: 1px dashed #c0cacf;
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 3px);
}

.comment-inner {
	padding: 0px 12px 12px 12px;

	p {
		display: block;
		font-family: $SERIF;
		word-wrap: break-word;
        font-size: $font_size_normal;
        line-height: 1.3em;
        margin-top: 15px;
	}
}

.scroll-container {
	background: #fafafa;
}


.feedback-header {
    position: relative;
    z-index: 99;
    background: #fff;
    @include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 2px 0px);
    
	padding: 10px 10px;

	h3 {
		display: inline-block;
		float: left;
	}
}

.feedback-body {
    height: 100%;
    -webkit-box-sizing: border-box;
    padding: 20px 0px 0px 0px;


    position: relative;

    overflow: scroll;
}

.feedback-content {

}

.feedback-title  {

	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(255, 255, 255, 0.10);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	color: $dark_blue;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 10px 8px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.remove {
	color: #000;
	opacity: 0;
	float: right;
	font-size: 16px;
 	margin-left: 5px;
 	position: absolute;
 	top: 2px;
	right: 4px;
	border-radius: 50%;
	background: #fff;
}

.remove-comment-link {
    margin-right: 10px;
    color: $light !important;
    opacity: 0;
    font-size: $font_size_small;
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);
}

.tag {
	background: $brown;
	border-radius: 100px;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	padding: 1px 7px;
	color: #fff;
	font-family: "Helvetica Neue";
}

input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

input[type="checkbox"] + label{
	opacity: 0.5;
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
}
input[type="checkbox"]:checked + label {
	opacity: 1;
}
