.nav-items {

}

.nav-item {

	float: left;

	display: block;

	height: $header_height;
	line-height: $header_height;

	padding: 0px 15px;

	border-left: 1px solid #333;
	box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.07);

	cursor: pointer;

	@include transition-property(all);
  	@include transition-duration(0.2s);

	&:hover {
		@include background-image(linear-gradient(#333, #444));
	}


}

.nav-item-logo {
	font-size: $font_size_large;
	font-weight: bold;
	vertical-align: middle;
	color: #ffcc00;
}

.nav-item-last {
	border-right: 1px solid #333;
	box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.07), 1px 0px 0px rgba(255, 255, 255, 0.07);
}

header.fs {
	top: -$header_height !important;
}
header {
	color: #fff;
	top: 0px;
	position: fixed;
	z-index: 999;
	font-weight: bold;

	overflow: hidden;

	width:100%;

	height: $header_height;
	vertical-align:middle;
	
	white-space: nowrap; 
	text-align: center;

	@include background-image(linear-gradient(#575757, #3d3d3d));
	@include box-shadow(rgba(0, 0, 0, 0.3) 0px 1px 3px);

	@include transition-property(all);
  	@include transition-duration(0.5s);
  	@include transition-timing-function(ease-in-out);


	a {
		text-decoration: none;
		color: #ddd;
		-webkit-transition: all 0.1s;
	
		&:hover{
			color: #fff;
		}
	}

}

.header-left {
	float: left;
}

.header-right {
	float: right;
	line-height: 1em;
}

.project-title {
	position: relative;
	top: 22px;

}

.header-section {
	display: inline-block;
	height: $header_height;
}

header .btn-primary {
	position: relative;
	top: -3px;
}
