header {
	padding: 0px 10px;
	width:100%;

	overflow: hidden;

	@include background-image(linear-gradient(#ffcc00, #f0b800));
	@include background-image(linear-gradient(#fff, #eee));

	font-size: 13px;

	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px);

	div {
		
	}

	.button-group {
		line-height: 46px;
		display: inline-block;
		overflow: hidden;
	
		padding-left: 15px;
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.15);

}

	ul {
		display: inline-block;

		li {
			display: inline;
			margin-right: 30px;
		}
	}

	a {
		text-decoration: none;
		color: $dark_blue;
		-webkit-transition: all 0.1s;
	
		&:hover{
			color: #242424 !important;
		}
	}

	span.logo {
		font-weight: bold;
		font-size: 18px;

		em {
			font-weight: normal;
			font-style: normal;
			padding-left: 5px;
		}
	}

	h2 {
		font-size: 13px;
		display: inline;

		-webkit-animation-duration: 0.8s;
  		animation-duration: 1s;
  		-webkit-animation-fill-mode: both;
  		animation-fill-mode: both;
  		-webkit-animation-direction:alternate;
	}

	h5 {
		color: #333;
	}

	input {

		-webkit-appearance: none;
		outline: 0;

		height: 24px;

		padding: 0px 0px 0px 4px;

		line-height: 12px;
		font-size: 12px;

		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 3px;

		box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
	}
}
