.user {
	position: absolute;
	top: 20px;
	right: 40px;
	margin-right: 100px;
	font-size: 13px;
	line-height: 1.3em;
}

#auth, #uploadarea {
	background: #ccc;
	width: 400px;
	text-align: left;
	margin: 20px;
	padding: 20px;
}

#auth input {
	width: 100px;
}


#auth form input {
	display: block;
}

#auth h2, #uploadarea h2 {
	margin: 20px 0px;
}
#auth {
	float: left;

	form {

		float: left;
	}
}
#uploadarea {
	float: left;
}
