#main {

	height: 100%;
  	width: 100%;


  	overflow: scroll;

  	margin: 0px 300px 0px 0px;
  
	.current-screen {
		max-width: 100%;
	}
}

#imgwrapper {
	display: block;
	position: relative;
	
	> img {
		display: inline;
		vertical-align: bottom;
		
		background: #fff;

		@include transition-property(all);
		@include transition-duration(0.5s);

		&:hover {
			opacity: 1;
		}
	}
}

.emptystate {
	border-radius: 8px;
	color: #22262b;

	cursor: pointer;

	.upload-icon {
		font-size: 120px;
		border: none;
	}

	h2 {
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	}
}
