#main {

	width: 100%;

	overflow: scroll;

	display: -webkit-flex;

	-webkit-align-content: stretch;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
	-webkit-align-items: center;

	margin: 40px 0px 20px 0px;
	padding: 20px;

	.current-screen {
		max-width: 100%;
	}
}

#imgwrapper {

	display: block;

	position: relative;

	border: 15px solid #fff;

	background: #fff;
	
	@include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 2px);
	
	img {
		display: inline;
		vertical-align: bottom;
	}
}

.emptystate {
	border-radius: 8px;
	color: #22262b;

	cursor: pointer;

	.upload-icon {
		font-size: 120px;
		border: none;
	}

	h2 {
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	}
}

#content {
	position: absolute; 
	height: 100%; 
	width: 100%;
	display: -webkit-flex;
}