.animate {
	-webkit-transition: all 1s;
	-webkit-transform: translate3d(0,0,0);

}

.circle {
	border-radius: 100px;
}
.note {
	opacity: 1;
	left: 2000px;
	top: 200px;
}

.handle {
	width: 20px;
    height: 20px;
	border-radius: 100px;
	background: rgba(0, 0, 0, 0.9);
    border: 2px solid #fff;
    font-weight: bold;
    color: #ffcc00;
    text-align: center;
    position: relative;
    top: 0px;
    left: -13px;
	
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);

	-webkit-transform: translate3d(0,0,0);


	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	-webkit-animation-direction:alternate;
 	-webkit-animation-iteration-count: infinite;
 	*/

}

.pulseblue {
	-webkit-animation-name: pulseblue;
}
.pulsegreen {
	-webkit-animation-name: pulsegreen !important;
}
.pulsepurple {
	-webkit-animation-name: pulsepurple !important;
}

.tooltip {
    position: absolute;
    z-index: 101;
    text-align: left;
    white-space: normal;
    
	width: 300px;

    display: inline-block;
    
    top: 20px;
    left: -150px;
    
    opacity: 0;
    visibility: hidden;
    

    @include transition-property(all);
	@include transition-duration(0.5s);  

	@include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 12px);
	@include border-radius(5px);

	line-height: 1.3em;

	background-color: #fff;

	color: #5c5c5c;
	font-family: $SERIF;
	font-size: 14px;

	background-color: #ffffff;
	border: 1px solid #ffffff;

	&:hover {
		
	}

	&:before {
	 	position: absolute;
    	top: -7px;
    	left: 138px;
    
    	content: '';
    	display: block;
	
    	border-right: 10px solid transparent;
    	border-left: 10px solid transparent;
    	border-bottom: 10px solid #fff;
    }

    .scroll-container {
    	max-height: 200px;
    	overflow: scroll;
    }
 }

 .tooltip:focus {
 	outline: 0;
 }


.large {
	width: 50px;
	height: 50px;
}
.note-handle:hover {
	opacity: 1;
}

.ui-draggable { cursor: move; }

.open {
	opacity: 1 !important;
	visibility: visible;
	margin-top: 13px;
}
