$brownish: #edeae2;
$brown: #38342b;
$dark_blue: #363d45;
$light_yellow: #fef0c0;
$light: #838f96;
$yellow: #ffcc00;

$SANS: "proxima-nova", "jaf-facitweb", "Helvetica Neue", "Arial", sans-serif;
$SERIF: "ff-meta-serif-web-pro", "Meta Serif",  "Georgia", serif;