$brownish: #edeae2;
$brown: #38342b;
$dark_blue: #363d45;
$light_yellow: #fef0c0;
$light: #838f96;
$yellow: #ffcc00;
$background: #f2f2f2;

$SANS: "proxima-nova", "jaf-facitweb", "Helvetica Neue", "Arial", sans-serif;
$SERIF: "ff-meta-serif-web-pro", "Meta Serif",  "Georgia", serif;

$font_size_large: 18px;
$font_size_normal: 15px;
$font_size_medium: 14px;
$font_size_small: 12px;

$header_height: 60px;
$feedback_width: 300px;
