@import "compass";

@import "_variables.scss";
@import "_animations.scss";
@import "_base.scss";
@import "_brief.scss";
@import "_clicktoedit.scss";
@import "_feedback.scss";
@import "_header.scss";
@import "_login.scss";
@import "_main.scss";
@import "_navigation.scss";
@import "_tooltip.scss";


@font-face
{
	font-family: "pictos";
	src: url(fonts/pictos-web.ttf);
}

* {
	margin: 0;
	padding: 0;
}
body {
	
	margin: 0 auto;
	background: #f2efe4;

	color: $dark_blue;
	font-size: 16px;
	font-family: $SANS;

	-webkit-transform3d: rotateZ(0, 0, 0);
	-webkit-font-smoothing: antialiased;
}

canvas {
	background: transparent;
	opacity: 1;
	position: absolute;
	top: 0px;
	z-index: 100;
	pointer-events: none;
}

li {
	font-size: 13px;
	list-style-type: none;
	line-height: 1.2em;
	cursor: pointer;
}

body.dragOver #dropzone {display:block;} /* During drag */
body #dropzone {

	z-index:1000;
	position:fixed;

	width:100%;
	height:100%;

	top:0;
	left:0;

	margin: 0 auto;
	display:none;

	background: rgba(0, 0, 0, 0.8);

	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}


.fullscreen {
	margin: 0px !important;
	border: 0px !important;
}

.clickable {
	cursor:pointer;
}

#mouseTracker {
	top: 0px;
	position: fixed;
	display: block;
	width: 1000px;
	height: 1000px;
	z-index: 5;
	pointer-events: none;
}

#wrap {
	width: 100%;
  	position: absolute;
  	top: 50px;
  	bottom: 0;
  	overflow: hidden;
  	@include transition-property(all);
  	@include transition-duration(0.5s);
  	@include transition-timing-function(ease-in-out);

  	&.fullscreen {
  		top: 0px !important;
  	}
}
