@import "compass";

@font-face
{
	font-family: "pictos";
	src: url('../fonts/pictos-web.ttf');
}


$background_color: #edeae2;
$brown: #38342b;
$dark_blue: #363d45;
$light_yellow: #fef0c0;
$yellow: #ffcc00;


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", "Arial";
	margin: 0 auto;
	font-size: 16px;
	box-sizing: border-box;
	color: $dark_blue;
}



li {
	font-size: 13px;
	list-style-type: none;
	line-height: 1.2em;
	cursor: pointer;
}

.selected {
	color: #ffcc00;	
	background: #000;
}



.selected img {
	opacity: 1 !important;
}

#left {
	height: 100%;
	position: fixed;
	left: -120px;
	z-index: 10;
	transition: left 0.3s;
	-webkit-transition: left 0.2s ease-in-out;
	overflow: scroll;
	background: $dark_blue;
}

#left ul {
	background: $dark_blue;;
}

.slideOut {
	left: -120px;
}

#left:hover {
	left: 0px;
}

#overview {
	width: 150px;
	color: #fff;
	float: left;
	
}

#overview li {
	position: relative;
	padding: 10px;
}

#overview li img {
	display: block;
	width: 100%;
	opacity: 0.8;
}

#content {
	position: absolute; 
	height: 100%; 
	width: 100%;
}

#overview li img:hover {
	display: block;
	width: 100%;
	opacity: 1;
}

#main {
	height: 100%;
	padding: 50px 50px 50px 105px;
	background: $background_color;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;	
}
#main .current-screen {
	max-width: 100%;
	
}


#imgwrapper {
	position: relative;
	background: #fff;
	padding: 15px;
	display: inline-block;
	@include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 2px);
	
	img {
		display: inline-block;
	}
}


#right {
	float: right;
	width: 320px;
	color: #242424;
	background: $dark_blue;
	overflow: scroll;
	height :100%;
}

#right ul li:hover .remove {
	opacity: 0.5;
}

#right .remove:hover{
	opacity: 1;
	color: red;
}

.animate {
	-webkit-transition: all 1s;
	-webkit-transform: translate3d(0,0,0);

}

.circle {
	border-radius: 100px;
}
.note {
	width: 12px;
	height: 12px;
	opacity: 1;
	position: absolute;
	left: 2000px;
	top: 200px;
}

.handle {
	width: 12px;
	height: 12px;
	border-radius: 100px;
	
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);

	-webkit-transform: translate3d(0,0,0);

	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.8s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	-webkit-animation-direction:alternate;
 	-webkit-animation-iteration-count: infinite;
}

.pulseblue {
	-webkit-animation-name: pulseblue;
}
.pulsegreen {
	-webkit-animation-name: pulsegreen !important;
}
.pulsepurple {
	-webkit-animation-name: pulsepurple !important;
}

.tooltip:before {
    position: absolute;
    top: 10px;
    left: -11px;
    
    content: '';
    display: block;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.4);

}

.tooltip {
     position: absolute;
     z-index: 100;
     min-width: 150px;
     background: #fff;
     padding: 10px;
     top: -11px;
     left: 20px;
     border-radius: 5px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
     opacity: 0;
     visibility: hidden;
     -webkit-transition: all 0.4s;
     text-align: left;
     line-height: 1.3em;

     color: #fff;


	background: -moz-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: -ms-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: -o-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: -webkit-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);

     
 }

 .tooltip:focus {
 	outline: 0;
 }

.tooltip:after {
    position: absolute;
    top: 10px;
    left: -10px;

    content: '';
    display: inline-block;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}

.note {
	width: 15px;
	height: 15px;
	position: relative;
}
.large {
	width: 50px;
	height: 50px;
}
.note-handle:hover {
	opacity: 1;
}

.ui-draggable { cursor: move; }

.open {
	opacity: 1 !important;
	visibility: visible;
	margin-left: 13px;
}

.medium {
	height: 30px;
}
.round {
	border-radius: 3px;
}

h3 {	
	font-size: 14px;
}

.spacing {
	padding: 10px;
}

.remove {
	color: #000;
	opacity: 0;
	float: right;
	font-size: 16px;
 	margin-left: 5px;
 	position: absolute;
 	top: 2px;
	right: 4px;
	border-radius: 50%;
	background: #fff;
}

.tag {
	border-radius: 100px;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	padding: 1px 7px;
	color: #fff;
	font-family: "Helvetica Neue";
}

#bla {
	height: 100%;
	background: #222;
}

body.dragOver #dropzone {display:block;} /* During drag */
body #dropzone {
		z-index:1000;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display:none;
		background: rgba(0, 0, 0, 0.8);
		text-align: center;
		color: #fff;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
		margin: 0 auto;
	}
#dropzone h1 {

}

.foo {
	display: none !important;
}

.add-image {
	border: 1px dashed rgba(255, 255, 255, 0.20);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 25px 10px 25px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.30);
}

#filepicker {
	display: none;
}

.green {
	background: #81d136;
}

.purple {
	background: #aa70e0;
}

.blue {
	background: #36aad1;
}
.right {
	float: right;
}
.edit {
	font-size: 11px;
	margin-left: 5px;
}

h1 {
	color: #fff;
}

.first {
	margin-top: 0;
}

.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction:alternate;
}


@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

.icon {
	font-family: "pictos";
	font-size: 16px;
	color: #242424;
}
.icon:hover {
	opacity: 1;
}
#right h5 {
	margin-bottom: 10px;
	padding: 0px 0px;
}

.bubble {
	font-family: "Georgia";
	font-style: italic;
	margin-bottom: 1px;
	background: white;
	padding: 6px 20px 6px 6px;
	@include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 0px);
	border-radius: 8px;
	position: relative;
	margin-top: 10px;
	font-weight: normal;
	display: inline-block;
	line-height: 1.5em;

	background: -moz-linear-gradient(180deg ,#ffffff 0% ,#ededed 100%);
	background: -ms-linear-gradient(180deg ,#ffffff 0% ,#ededed 100%);
	background: -o-linear-gradient(180deg ,#ffffff 0% ,#ededed 100%);
	background: -webkit-linear-gradient(180deg ,#ffffff 0% ,#ededed 100%);
	background: linear-gradient(180deg ,#ffffff 0% ,#ededed 100%);


	&:hover {
		background: white;
		@include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 4px);
	}

	 &:before {
	 	position: absolute;
    	top: -7px;
    	left: 10px;
    
    	content: '';
    	display: block;
	
    	border-right: 10px solid transparent;
    	border-left: 10px solid transparent;
    	border-bottom: 10px solid #fff;
    }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0);
    background: #892323;
  }

  50% {
    
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 1);
    background: #ff0000;
  }
}

@-webkit-keyframes pulsegreen {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(107, 184, 35, 0);
    background: #6bb823;
  }

  50% {
    
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px rgba(107, 184, 35, 1);
    background: #81d136;
  }
}

@-webkit-keyframes pulseblue {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(12, 125, 163, 0);
    background: #0d7da3;
  }

  50% {
    
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px rgba(12, 125, 163, 1);
    background: #36aad1;
  }
}

@-webkit-keyframes pulsepurple {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(128, 62, 189, 0);
    background: #803ebd;
  }

  50% {
    
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px rgba(128, 62, 189, 1);
    background: #aa70e0;
  }
}

.emptystate {
	padding: 250px;
	border: 1px dashed #aaa;
	border-radius: 8px;
}

header {
	background: -moz-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: -ms-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: -o-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: -webkit-linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	background: linear-gradient(180deg ,#ffffff 0% ,#e8e8e8 100%);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10);
	width:100%;
	font-size: 13px;
	position: relative;
	height: 40px;
	z-index: 1000;
	padding: 0px 10px;
}

header span.logo {
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
}

header span {
	float: left;
	line-height: 40px;
}

.space {
	margin-right: 15px;
}

header span.logo em {
	font-weight: normal;
	font-style: normal;
	padding-left: 5px;
}

.center {
	text-align: center;
}
header h5 {
	color: #333;
}

.yellow {
	color: #ffcc00;
}

input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

input[type="checkbox"] + label{
	opacity: 0.5;
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
}
input[type="checkbox"]:checked + label {
	opacity: 1;

}

.semi {
	opacity: 0.6 !important;
}

.opaque {
	opacity: 1 important;
}

.fullscreen {
	padding: 0 !important;
	top: 0px !important;
	margin-top: 0px !important;
}

.clickable {
	cursor:pointer;
}

.user {
	position: absolute;
	top: 20px;
	right: 40px;
	margin-right: 100px;
	font-size: 13px;
	line-height: 1.3em;
}

#login {

}

#login input {
	width: 100px;
}

#mouseTracker {
	top: 0px;
	position: fixed;
	display: block;
	width: 1000px;
	height: 1000px;
	z-index: 5;
	pointer-events: none;
}


.click-to-edit button {
	width: 100%;
	display: block;
	float: left;
	margin-top: 5px;
	border: 0;
	outline: 0;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.click-to-edit button:hover {
	background: #6671C7;
	cursor: hand;
}

canvas {
	background: transparent;
	opacity: 1;
	position: absolute;
	top: 0px;
	z-index: 100;
	pointer-events: none;
}

.fill-brown {
	background: $brown;
}

.text-light {
	color: #d4d6d9;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}

.light {
	color: #b7b7b7;
}

#feedback-header {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20), inset 0 -4px 6px rgba(0, 0, 0, 0.40);
}

.feedback-content {
	margin: 0;
	opacity: 1;
	padding: 20px;
}

.feedback-title  {
	background: -moz-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: -ms-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: -o-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: -webkit-linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	background: linear-gradient(180deg ,#2d3642 0% ,#181f29 100%);
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(255, 255, 255, 0.10);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	color: #ffffff;
	font-size: 12px;
	padding: 6px 10px 6px 10px;
}

.search {
	background-color: #ffffff;
	border: 1px solid #0a1017;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.30), inset 1px 1px 5px rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.30), inset 1px 1px 5px rgba(0, 0, 0, 0.40);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.30), inset 1px 1px 5px rgba(0, 0, 0, 0.40);
	padding: 4px 4px 4px 8px;
	width: 130px;
	position: absolute;
	top: 7px;
	right: 4px;
	font-family: "Helvetica Neue", Arial;

	&:focus {
		outline: 0;
		border: 1px solid rgba(13, 180, 255, 1);
		@include box-shadow(rgba(13, 180, 255, 1) 0px 0px 5px);
	}
}

.inset {
	background: -moz-linear-gradient(90deg ,#f0f0f0 0% ,#e8e8e8 100%);
	background: -ms-linear-gradient(90deg ,#f0f0f0 0% ,#e8e8e8 100%);
	background: -o-linear-gradient(90deg ,#f0f0f0 0% ,#e8e8e8 100%);
	background: -webkit-linear-gradient(90deg ,#f0f0f0 0% ,#e8e8e8 100%);
	background: linear-gradient(90deg ,#f0f0f0 0% ,#e8e8e8 100%);
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50);
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50);
	color: #333333;
	font-family: "Helvetica Neue";
	font-size: 13px;
	font-weight: normal;
	margin-left: 15px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
}

.grey {
	color: #b7b7b7;
}

.icon.before {
	margin-right: 7px;
}

.upload-icon {
	color: #272d30;
	font-family: "pictos";
	font-size: 48px;
	font-style: normal;
	font-weight: normal;
	line-height: 48px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.10);
}

.removeimage {
	display: none;
	position: absolute;
	right: 12px;
	top: 12px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 100px;
	font-weight: normal;
	font-size: 12px;
	width: 13px;
	height: 12px;
	text-align: center;
	padding: 3px;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	@include box-shadow(rgba(0, 0, 0, 0.5) 0px 1px 0px);

}

#overview li:hover .removeimage {
	display: block;
}